<mat-tab-group [selectedIndex]="indexTabPosition" [disablePagination]="true" #matTabGroup>


  <mat-tab *ngIf="isLogs" label="HEP Logs">
    <app-tab-logs [data]="dataLogs"></app-tab-logs>
  </mat-tab>


  <mat-tab *ngFor="let item of subTabList"
    [label]="'HEPSUB:' + item.title">

    <!-- display json -->
    <!-- ngx-json-viewer [json]="jsonData" [expanded]="true"></ngx-json-viewer -->

    <div style="margin:13px;">

      <h3 style="">PCAP available on {{ agentNode }} : {{ callid }}</h3>
      <h3 style="">Agent file path: {{ agentPathPcap }}</h3>
      <h3 style="margin-bottom: 16px;">Date modified: {{ timestampString }}</h3>

      <button mat-raised-button
              class="setting-btn"
              (click)="getPcap()">
        <fa-icon icon="download"></fa-icon>
        <!-- {{'tabExport.exportPCAP'|translate}} -->
        Download PCAP from < {{ agentNode }} >
      </button>
    </div>
  </mat-tab>


  <mat-tab label="Loki">
    <app-loki-results
      [id]="id"
      [dataItem]="dataItem"
    ></app-loki-results>
  </mat-tab>


</mat-tab-group>
