<mat-tab-group [selectedIndex]="indexTabPosition" [disablePagination]="true" #matTabGroup>


  <mat-tab *ngIf="isLogs" label="HEP Logs">
    <app-tab-logs [data]="dataLogs"></app-tab-logs>
  </mat-tab>


  <mat-tab *ngFor="let item of subTabList"
    [label]="'HEPSUB:' + item.title">

    <ngx-json-viewer [json]="jsonData" [expanded]="true"></ngx-json-viewer>

    <div style="height:36px;margin:13px;">
      <button mat-raised-button
              class="setting-btn"
              (click)="getPcap()">
        <fa-icon icon="download"></fa-icon>
        <!-- {{'tabExport.exportPCAP'|translate}} -->
        Download RTP PCAP
      </button>
    </div>
  </mat-tab>


  <mat-tab label="Loki">
    <app-loki-results
      [id]="id"
      [dataItem]="dataItem"
    ></app-loki-results>
  </mat-tab>


</mat-tab-group>
